<p>
  <mat-toolbar>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home"><mat-icon>home</mat-icon>Home</button>
      <button mat-menu-item routerLink="/customers"><mat-icon>patient_list</mat-icon>Customer</button>
      <button mat-menu-item routerLink="/segments"><mat-icon>segment</mat-icon>Segments</button>
      <button mat-menu-item routerLink="/eligibilies"><mat-icon>patient_list</mat-icon>Eligibilies</button>
      <button mat-menu-item routerLink="/controls"><mat-icon>patient_list</mat-icon>Control Groups</button>
      <button mat-menu-item routerLink="/experiments"><mat-icon>patient_list</mat-icon>Experiments</button>
      <button mat-menu-item routerLink="/surveys"><mat-icon class="">question_exchange</mat-icon>Surveys</button>
    </mat-menu>
    <span>Experi Machina - Experiment Management System</span>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
