<h1>Audience Finder</h1>
<mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>What do you want an audience for</ng-template>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon aria-hidden="false" aria-label="Help" fontIcon="info" color="accent"></mat-icon>
                        <div class="pad-left">Click for instructions</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>Select the type of what you would like and audience for a <a routerLink="/controls">Control Group</a>, <a routerLink="/experiments">Experiment</a>,
                        <a routerLink="/features">Feature</a> or <a routerLink="/surveys">Survey</a></li>
                    <li>Select the actual option from the dropdown list after selecting the type</li>
                    <li>Select the Start and End dates for the audience</li>
                    <li>Click 'Next' button</li>
                </ol>
                <p>NOTE: The option needs to be 'Active' to appear in the list.</p>
            </mat-expansion-panel>

            <mat-radio-group aria-label="Select an option"
                             (change)="loadGroupTypeList()"
                             formControlName="selectedGroupTypeCtrl">
                <mat-radio-button value="Control Group">Control Group</mat-radio-button>
                <mat-radio-button value="Experiment">Experiment</mat-radio-button>
                <mat-radio-button value="Feature">Feature</mat-radio-button>
                <mat-radio-button value="Survey">Survey</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-form-field *ngIf="firstFormGroup.controls.selectedGroupTypeCtrl.value != '' &&
                            firstFormGroup.controls.selectedGroupTypeCtrl.value != null"
                            >
                <mat-label>Choose an option</mat-label>
                <mat-select formControlName="selectedGroupCtrl" (selectionchange)="loadSelectedGroup()">
                    <mat-option *ngFor="let g of groupList" [value]="g">{{g.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="pad-left" *ngIf="firstFormGroup.controls.selectedGroupTypeCtrl.value != '' &&
                            firstFormGroup.controls.selectedGroupTypeCtrl.value != null">
                <mat-label>Start / end date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" formControlName="startDate">
                    <input matEndDate placeholder="End date" formControlName="endDate">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <div>
                <button mat-button matStepperNext (click)="loadCustomerCountBySegments()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Selection criteria</ng-template>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon aria-hidden="false" aria-label="Help" fontIcon="info" color="accent"></mat-icon>
                        <div class="pad-left">Click for instructions</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>TODO</li>
                    <li>Click 'Next' button</li>
                </ol>
            </mat-expansion-panel>
            <p>
                <mat-slide-toggle class="pad-left"
                                  value="primary"
                                  formControlName="excludeActive">Exclude any customers in current audiences?
                </mat-slide-toggle>
            </p>
            <div *ngIf="secondFormGroup.controls.excludeActive.value">
                <ul class="ul-nude">
                    <li><mat-checkbox>Control Group</mat-checkbox>
                        <ul class="ul-nude" *ngFor="let o of controlList">
                            <li><mat-checkbox>{{o.name}}</mat-checkbox></li>
                        </ul>
                    </li>
                    <li><mat-checkbox>Experiment</mat-checkbox>
                        <ul *ngFor="let o of experimentList">
                            <li><mat-checkbox>{{o.name}}</mat-checkbox></li>
                        </ul>
                    </li>
                    <li><mat-checkbox>Feature</mat-checkbox>
                        <ul *ngFor="let o of featureList">
                            <li><mat-checkbox>{{o.name}}</mat-checkbox></li>
                        </ul>
                    </li>
                    <li><mat-checkbox>Survey</mat-checkbox>
                        <ul *ngFor="let o of surveyList">
                            <li><mat-checkbox>{{o.name}}</mat-checkbox></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div *ngIf="selectedGroup != null">
                <p>
                   {{selectedGroupType}} {{selectedGroup.name}} has a maximum of {{customersAvailable}} customers based on the eligibility criteria.
                </p>
                <mat-divider></mat-divider>
                Eligibility for:
                <ul *ngFor="let e of selectedGroup.eligibilities">
                    <li>{{e.name}}
                        <ul *ngFor="let s of e.segments">
                            <li>{{s.name}}</li>
                        </ul>
                    </li>
                </ul>
                <mat-divider></mat-divider>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step  [stepControl]="thirdFormGroup" [editable]="isEditable">
        <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Size & Selection</ng-template>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon aria-hidden="false" aria-label="Help" fontIcon="info" color="accent"></mat-icon>
                        <div class="pad-left">Click for instructions</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>TODO</li>
                    <li>Click 'Next' button</li>
                </ol>
            </mat-expansion-panel>

        <div *ngIf="selectedGroup != null">
            <p>
                {{selectedGroupType}} {{selectedGroup.name}} has a maximum of {{customersAvailable}} customers based on the eligibility criteria.
            </p>
        </div>
        <mat-divider></mat-divider>
        <p>
            <mat-form-field>
                <mat-label>Audience Size</mat-label>
                <mat-select formControlName="audienceSize">
                    <mat-option value="{{customersAvailable}}">{{customersAvailable}}</mat-option>
                    <mat-option  *ngIf="10 < customersAvailable" value="10">10</mat-option>
                    <mat-option  *ngIf="100 < customersAvailable" value="100">100</mat-option>
                    <mat-option  *ngIf="200 < customersAvailable" value="200">200</mat-option>
                    <mat-option  *ngIf="500 < customersAvailable "value="500">500</mat-option>
                    <mat-option  *ngIf="1000 < customersAvailable" value="1000">1000</mat-option>
                    <mat-option *ngIf="10000 < customersAvailable"value="10000">10000</mat-option>
                    <mat-option *ngIf="100000 < customersAvailable" value="10000">100000</mat-option>
                    <mat-option *ngIf="1000000 < customersAvailable" value="1000000">1000000</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="selectRandomCustomers()">Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step  [stepControl]="fourthFormGroup" [editable]="isEditable">
        <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Done</ng-template>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon aria-hidden="false" aria-label="Help" fontIcon="info" color="accent"></mat-icon>
                        <div class="pad-left">Click for instructions</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ol>
                    <li>TODO</li>
                    <li>Click 'Save' button to create the audience for the {{firstFormGroup.controls.selectedGroupTypeCtrl.value}}</li>
                </ol>
            </mat-expansion-panel>

        <p>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <mat-hint>What do you want to call the audience?</mat-hint>
            </mat-form-field>
        </p>
            <p>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"  placeholder="Description"></textarea>
                    <mat-hint>What is the Description?</mat-hint>
                </mat-form-field>
            </p>
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef>Key</th>
                    <td mat-cell *matCellDef="let element"> {{element.key}} </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>First name</th>
                    <td mat-cell *matCellDef="let element">{{element.firstName}} </td>
                </ng-container>
                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef>Surname</th>
                    <td mat-cell *matCellDef="let element">{{element.surname}} </td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef>Active</th>
                    <td mat-cell *matCellDef="let element">{{element.active}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Selected</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox></mat-checkbox>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="dataSource.data.length"
                           [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           aria-label="Select page of feedback"></mat-paginator>

        </div>


        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button color="primary" (click)="createAudience()">Save</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
        </form>
    </mat-step>
</mat-stepper>

