body {
    font-family: Helvetica, Arial, sans-serif;
}

.example-full-width {
    width: 100%;
}

.filter {
    width: 200px;
    font-size: 12px;
    padding-left: 10px;
}

.pad-left {
    padding-left: 10px;
}

.pad-top-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}